<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.chowdpa02k.jellyfin-remora</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/jellyfin-remora</string>
    <string>-c</string>
    <string>/usr/local/etc/jellyfin-remora/config.yml</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/var/log/jellyfin-remora.launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/jellyfin-remora.launchd.err</string>
</dict>
</plist>
